<a href="https://colab.research.google.com/github/rikiulirniam/AlgoritmaPemrograman/blob/main/Jobsheet_02_Algopro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 – Pengenalan Variabel dan Tipe Data

In [2]:
#Integer
umur = 18
print(f"Umur : {umur} > {type(umur)} " )
# Float
tinggi = 163.4
print(f"Tinggi: {tinggi} > {type(tinggi)} ")
# String
nama = "Riki"
print(f"Nama: {nama} > {type(nama)}")
# Boolean
is_mahasiswa = True
print(f"Status Mahasiswa: {is_mahasiswa} > {type(is_mahasiswa)}")
# List
nilai = [80, 85, 90]
print(f"Nilai: {nilai} > {type(nilai )}")
# Tuple
koordinat = (56, -456)
print(f"Koordinat: {koordinat} > {type(koordinat)}")
# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print(f"Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))
# Set
hobi = {"membaca", "olahraga", "musik"}
print(f"Hobi:", hobi, "→", type(hobi))

Umur : 18 > <class 'int'>
Tinggi: 163.4 > <class 'float'>
Nama: Riki > <class 'str'>
Status Mahasiswa: True > <class 'bool'>
Nilai: [80, 85, 90] > <class 'list'>
Koordinat: (56, -456) > <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'olahraga', 'membaca', 'musik'} → <class 'set'>

# Praktikum 02 – Input dan Output Dasar

In [3]:
 # Input string
 nama = input("Masukkan nama Anda: ")

 # Input integer
 umur = int(input("Masukkan umur Anda: "))

 # Input float
 tinggi = float(input("Masukkan tinggi badan (cm): "))

 # Output standar
 print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

 # Output dengan format()
 print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

 # Output dengan f-string
 print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Riki
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 164
Halo, Riki umur Anda: 18 tahun, tinggi: 164.0 cm
Halo Riki, umur Anda 18 tahun, tinggi 164.0 cm
Halo Riki, umur Anda 18 tahun, tinggi 164.0 cm

# Praktikum 03 – Operator Aritmatika

In [4]:
 a = 29
 b = 5

 print("a + b =", a + b)
 print("a - b =", a - b)
 print("a * b =", a * b)
 print("a / b =", a / b)
 print("a // b =", a // b)
 print("a % b =", a % b)
 print("a ** b =", a ** b)

a + b = 34
a - b = 24
a * b = 145
a / b = 5.8
a // b = 5
a % b = 4
a ** b = 20511149

# Praktikum 04 – Operator Relasional

In [5]:
x = 12
y = 23
print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

# Praktikum 05 – Operator Logika dengan Studi Kasus Nyata

In [8]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 22

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 56
Masukkan jumlah kehadiran: 23
Status: TIDAK LULUS

# Praktikum 06 – Program Kasir Sederhana

In [10]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: Keyboard Mechanical
Masukkan harga barang: 760000
Masukkan jumlah barang: 2

===== Struk Belanja =====
Barang : Keyboard Mechanical
Jumlah : 2
Total : Rp 1520000.0
Diskon : 20.0%
Bayar : Rp 1216000.0



---

# Penugasan 3 - Identitas Mahasiswa

In [11]:
nama = "Riki"
umur = 18
tinggi = 164.6
status_aktif = True

print(f"Haii saya {nama}, pemuda berusia {umur} tahun dengan tinggi badan {tinggi}cm. Status mahasiswa aktif saya sekarang adalah {status_aktif} ")

Haii saya Riki, pemuda berusia 18 tahun dengan tinggi badan 164.6cm. Status mahasiswa aktif saya sekarang adalah True

# Penugasan 4 - Operasi Aritmatika

In [13]:
n = (63, 25)
print(f" + {n[0] + n[1]}")
print(f" - {n[0] - n[1]}")
print(f" * {n[0] * n[1]}")
print(f" / {n[0] / n[1]}")
print(f" % {n[0] % n[1]}")
print(f" ** {n[0] ** n[1]}")

 + 88
 - 38
 * 1575
 / 2.52
 % 13
 ** 962750463413450814961058545701035539397690943

# Penugasan 5 - Konversi Nilai

In [18]:
nilai = float(input("Masukkan nilai decimal (170.21) : "))
print(f" (int) {int(nilai)},\n (str) {str(nilai)},\n (round) {round(nilai)}")

Masukkan nilai decimal (170.21) : 123.67
 (int) 123,
 (str) 123.67,
 (round) 124

# Penugasan 6 - Operator Relasional

In [20]:
print("--- Program Perbandingan Dua Bilangan ---")

angka1 = 23
angka2 = 75

print("\n--- Hasil Perbandingan ---")

print(f"{angka1} == {angka2} adalah {angka1 == angka2}")
print(f"{angka1} != {angka2} adalah {angka1 != angka2}")
print(f"{angka1} < {angka2} adalah {angka1 < angka2}")
print(f"{angka1} > {angka2} adalah {angka1 > angka2}")
print(f"{angka1} <= {angka2} adalah {angka1 <= angka2}")
print(f"{angka1} >= {angka2} adalah {angka1 >= angka2}")

--- Program Perbandingan Dua Bilangan ---

--- Hasil Perbandingan ---
23 == 75 adalah False
23 != 75 adalah True
23 < 75 adalah True
23 > 75 adalah False
23 <= 75 adalah True
23 >= 75 adalah False