<a href="https://colab.research.google.com/github/rikiulirniam/AlgoritmaPemrograman/blob/main/Jobsheet_06_Algopro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum

## Praktikum 01 – Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

## Praktikum 02 – Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

## Praktikum 03 – Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

## Praktikum 04 – List 2D (Matriks)

In [ ]:
matriks = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9]
]

print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

## Praktikum 05 – Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []
for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

## Praktikum 06 – Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
[80, 90, 85],
[70, 75, 80],
[88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# Penugasan

## 3.	Akses Elemen List

In [1]:
nama = ["Riki", "Dimas", "Pasha", "Zaky", "Dzidan"]

print("Nama pertama:", nama[0])
print("Nama terakhir:", nama[-1])
print("Nama pada indeks ke-2:", nama[2])

Nama pertama: Riki
Nama terakhir: Dzidan
Nama pada indeks ke-2: Pasha

## 4.	Operasi Dasar List

In [3]:
nilai = [70, 75, 80]

nilai[1] = 85
nilai.append(90)
nilai.remove(70)

print("Hasil akhir:", nilai)

Hasil akhir: [85, 80, 90]

## 5.	Slicing List

In [4]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("3 elemen pertama:", angka[:3])
print("4 elemen terakhir:", angka[-4:])
print("Elemen dengan indeks genap:", angka[::2])

3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen dengan indeks genap: [1, 3, 5, 7, 9]

## 6.	List 2D – Matriks

In [5]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print("Baris pertama kolom kedua:", matriks[0][1])
print("Baris kedua kolom ketiga:", matriks[1][2])
print("Seluruh baris pertama:", matriks[0])

Baris pertama kolom kedua: 2
Baris kedua kolom ketiga: 6
Seluruh baris pertama: [1, 2, 3]

## 7.	Operasi Matriks 2D

In [7]:
matriks1 = [
    [1, 2],
    [3, 4]
]
matriks2 = [
    [5, 6],
    [7, 8]
]

hasil = [[0, 0], [0, 0]]

for i in range(2):
    for j in range(2):
        hasil[i][j] = matriks1[i][j] + matriks2[i][j]

print("Hasil penjumlahan matriks:")
for baris in hasil:
    print(baris)

Hasil penjumlahan matriks:
[6, 8]
[10, 12]

## 8.	Rata-rata Nilai Mahasiswa

In [8]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i in range(len(nilai)):
    total = sum(nilai[i])
    rata = total / len(nilai[i])
    print("Rata-rata mahasiswa ke-", i + 1, ":", rata)

Rata-rata mahasiswa ke- 1 : 80.0
Rata-rata mahasiswa ke- 2 : 65.0
Rata-rata mahasiswa ke- 3 : 92.33333333333333

## 9.	Studi Kasus – Data Toko

In [10]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar stok barang:")
for item in stok:
    print(item[0], ":", item[1])

stok_terbanyak = stok[0]
for item in stok:
    if item[1] > stok_terbanyak[1]:
        stok_terbanyak = item

print("Barang dengan stok terbanyak:", stok_terbanyak[0], "(", stok_terbanyak[1], ")")

Daftar stok barang:
Buku : 20
Pulpen : 35
Penghapus : 15
Barang dengan stok terbanyak: Pulpen ( 35 )