<a href="https://colab.research.google.com/github/rikiulirniam/AlgoritmaPemrograman/blob/main/Jobsheet_07_Algopro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# -> Praktikum

## Praktikum 01 – Tuple: Data Tetap yang Tidak Bisa Diubah

In [1]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

## Praktikum 02 – Dictionary Dasar: Menyimpan Data Mahasiswa

In [2]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}
print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

## Praktikum 03 – Operasi pada Dictionary

In [4]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}

mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
print(mahasiswa)
del mahasiswa["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer', 'Umur': 20}
{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

## Praktikum 04 – Set dan Operasi Himpunan

In [6]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Union:", A | B) # Muncul sekali
print("Intersection:", A & B) # Data yang sama
print("Difference:", A - B) # Apa yang ada di A tapi tidak ada di B

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

## Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [7]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}
print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Algoritma', 'Bahasa Inggris', 'Matematika'}
Mata kuliah Mhs2: {'Basis Data', 'Algoritma', 'Matematika'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

## Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [8]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# -> Penugasan

## Tuple Sederhana

In [9]:
mhs = ("43325022", 18, "TRK")
print("NIM:", mhs[0])
print("Umur:", mhs[1])
print("Prodi:", mhs[2])

NIM: 43325022
Umur: 18
Prodi: TRK

## Tuple Tidak Bisa Diubah

In [10]:
num = (1, 2, 3)
num[0] = 99

TypeError: 'tuple' object does not support item assignment

## Dictionary Dasar

In [11]:
book = {"Judul": "Algoritma", "Penulis": "Munir", "Tahun": 2021}
print("Judul:", book["Judul"])
print("Penulis:", book["Penulis"])
print("Tahun:", book["Tahun"])

Judul: Algoritma
Penulis: Munir
Tahun: 2021

## Operasi Dictionary

In [14]:
dosen = {"NIP": "12345", "Nama": "Budi", "Prodi": "TRK"}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]
print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

## Set dan Himpunan

In [15]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Basis Data', 'Algoritma', 'Bahasa Inggris', 'Matematika'}
Intersection: {'Algoritma', 'Matematika'}
Difference: {'Bahasa Inggris'}

## Studi Kasus Dictionary

In [16]:
nilai_mahasiswa = {"Andi": 85, "Budi": 90, "Cici": 78}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama} : {nilai}")
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi : 85
Budi : 90
Cici : 78
Rata-rata nilai: 84.33

## Studi Kasus Set – Klub Mahasiswa

In [17]:
klub_a = {"Andi", "Budi", "Cici"}
klub_b = {"Cici", "Deni", "Eka"}

print(f"Daftar seluruh anggota : {klub_a | klub_b}")
print(f"Anggota yang ada di kedua klub : {klub_a & klub_b}")
print(f"Anggota yang ada di klub A tetapi tidak di Klub B : {klub_a - klub_b}")

Daftar seluruh anggota : {'Deni', 'Eka', 'Andi', 'Budi', 'Cici'}
Anggota yang ada di kedua klub : {'Cici'}
Anggota yang ada di klub A tetapi tidak di Klub B : {'Andi', 'Budi'}