<a href="https://colab.research.google.com/github/rikiulirniam/AlgoritmaPemrograman/blob/main/Jobsheet_04_Algopro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum

## Praktikum 01 – Perulangan For dengan Range

In [2]:
for i in range(1,6): print(i)

1
2
3
4
5

## Praktikum 02 – Perulangan While

In [ ]:
n = int(input("Masukkan angka : "))
while n > 0:
    print(n)
    n -= 1

Masukkan angka : 5
5
4
3
2
1

## Praktikum 03 – Nested Loop (Segitiga Bintang)

In [1]:
    for i in range(1,5):
        for j in range(i):
            print("*", end="")
        print()

*
**
***
****
*****

## Praktikum 04 – Break dan Continue

In [2]:
 for i in range(1, 11):
	if i == 5:
	    print("Angka 5 ditemukan")
	    break

Angka 5 ditemukan

In [3]:
for i in range(1, 6):
	if i % 2 == 1:
	    continue
	print(i)

2
4

## Praktikum 05 – For pada Dictionary

In [4]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}
for k, v in data.items():
    print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

## Praktikum 06 – For dengan Enumerate

In [5]:
 daftar = ["Andi", "Budi", "Cici"]
 for i, nama in enumerate(daftar, start=1):
	print(i, nama)

1 Andi
2 Budi
3 Cici

## Praktikum 07 – Studi Kasus: Program Kasir Multi-Item

In [6]:
total = 0
while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti) : ")
    if barang.lower() == "selesai":
        break
    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal
print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti) : Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti) : Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti) : selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

# Penugasan

## Menampilkan Deret Angka

In [7]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

## Hitung Faktorial

In [16]:
n = int(input("Masukkan angka : "))
res = n
while n > 1:
    res *=  n-1
    n -= 1
print(res)

Masukkan angka : 5
120

## Pola Segitiga Terbalik

In [20]:
for i in range(5, -1, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

## Cari Bilangan Prima dengan Break

In [35]:
n = int(input("Masukkan bilangan bulat : "))

if n <= 1:
    print(f"{n} bukan bilangan prima")
else:
    for i in range(2, n):
        if n % i == 0:
            print(f"{n} bukan bilangan prima")
            break
    else:
        print(f"{n} adalah bilangan prima")

Masukkan bilangan bulat : 0
0 bukan bilangan prima

## Tampilkan Hanya Bilangan Genap dengan Continue

In [37]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

## 	Iterasi Dictionary Mahasiswa

In [47]:
mahasiswa = {"Nama":"Budi", "Umur":21, "Prodi":"Teknik Komputer"}
for i,j in mahasiswa.items():
    print(f"{i} : {j}")

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

##	Enumerate Daftar Barang

In [49]:
item = ["Buku", "Pulpen", "Tas"]
for i,j in enumerate(item, start=1):
    print(f"{i} {j}")

1 Buku
2 Pulpen
3 Tas

## Studi Kasus – Kasir Diskon

In [66]:
data = []
total = 0
while True:
    obj = {}
    obj["barang"] = input("Masukkan nama barang (ketik 'selesai' untuk berhenti) : ")
    if obj['barang'].lower() == "selesai":
        break
    obj["harga"] = float(input(f"Masukkan harga {obj['barang']} : "))
    obj["jumlah"] = int(input(f"Masukkan jumlah {obj['barang']} : "))
    obj["subtotal"] = obj["harga"] * obj["jumlah"]
    total += obj["subtotal"]
    data.append(obj)
print("\n===== Struk Belanja =====")
for _ in data:
    print(f"Barang          : {_['barang']}")
    print(f"Harga           : {_['harga']}")
    print(f"Jumlah          : {_['jumlah']}")
    print(f"Subtotal        : {_['subtotal']}")
print("=========================")
print(f"Total Belanja   : Rp {total}")
print(f"Diskon(10%)     : Rp {total - total * 0.9}")
if total >= 200000:
    total *= 0.9
print("=========================")
print(f"Total Bayar   : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti) : Ikan
Masukkan harga Ikan : 8000
Masukkan jumlah Ikan : 345
Masukkan nama barang (ketik 'selesai' untuk berhenti) : udang
Masukkan harga udang : 12000
Masukkan jumlah udang : 237
Masukkan nama barang (ketik 'selesai' untuk berhenti) : selesai

===== Struk Belanja =====
Barang          : Ikan
Harga           : 8000.0
Jumlah          : 345
Subtotal        : 2760000.0
Barang          : udang
Harga           : 12000.0
Jumlah          : 237
Subtotal        : 2844000.0
=========================
Total Belanja   : Rp 5604000.0
Diskon(10%)     : Rp 560400.0
=========================
Total Bayar   : Rp 5043600.0