<a href="https://colab.research.google.com/github/rikiulirniam/AlgoritmaPemrograman/blob/main/Jobsheet_10_Algopro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum

In [ ]:
%%writefile bubble_sort.py
def bubble_sort(data):
    n = len(data)
    for i in range(n):
        for j in range(0, n - i - 1):
            if data[j] > data[j + 1]:
                data[j], data[j + 1] = data[j + 1], data[j]
    return data
angka = [64, 34, 25, 12, 22, 11, 90]
print("Data sebelum diurutkan:", angka)
print("Data setelah Bubble Sort:", bubble_sort(angka))

Writing bubble_sort.py

In [ ]:
%%writefile selection_sort.py
def selection_sort(data):
    n = len(data)
    for i in range(n):
        min_index = i
        for j in range(i + 1, n):
            if data[j] < data[min_index]: min_index = j
            data[i], data[min_index] = data[min_index], data[i]
    return data
angka = [64, 25, 12, 22, 11]
print("Data sebelum diurutkan:", angka)
print("Data setelah Selection Sort:", selection_sort(angka))

Writing selection_sort.py

In [ ]:
%%writefile insertion_sort.py
def insertion_sort(data):
    n = len(data)
    for i in range(1, n):
        key = data[i]
        j = i - 1
        while j >= 0 and data[j] > key:
            data[j + 1] = data[j]
            j -= 1
        data[j + 1] = key
    return data

angka = [12, 11, 13, 5, 6]
print("Data sebelum diurutkan:", angka)
print("Data setelah Insertion Sort:", insertion_sort(angka))

Writing insertion_sort.py

In [ ]:
def bubble_sort_nilai(data):
    n = len(data)
    for i in range(n):
        for j in range(0, n - i - 1):
            if data[j][1] < data[j + 1][1]:
                data[j], data[j + 1] = data[j + 1], data[j]
    return data

mahasiswa = [("Andi", 80), ("Budi", 70), ("Cici", 90), ("Doni", 85)]
print("Data sebelum diurutkan:", mahasiswa)
print("Data setelah diurutkan (desc):", bubble_sort_nilai(mahasiswa))

Data sebelum diurutkan: [('Andi', 80), ('Budi', 70), ('Cici', 90), ('Doni', 85)]
Data setelah diurutkan (desc): [('Cici', 90), ('Doni', 85), ('Andi', 80), ('Budi', 70)]

In [ ]:
import random, time
from bubble_sort import bubble_sort
from selection_sort import selection_sort
from insertion_sort import insertion_sort

data = [random.randint(1, 1000) for _ in range(500)]

for func in [bubble_sort, selection_sort, insertion_sort]:
    salinan = data.copy()
    start = time.time()
    func(salinan)
    end = time.time()
    print(f"{func.__name__ } membutuhkan waktu {end - start:.5f} detik")

Data sebelum diurutkan: [64, 34, 25, 12, 22, 11, 90]
Data setelah Bubble Sort: [11, 12, 22, 25, 34, 64, 90]
Data sebelum diurutkan: [64, 25, 12, 22, 11]
Data setelah Selection Sort: [11, 22, 12, 25, 64]
Data sebelum diurutkan: [12, 11, 13, 5, 6]
Data setelah Insertion Sort: [5, 6, 11, 12, 13]
bubble_sort membutuhkan waktu 0.01126 detik
selection_sort membutuhkan waktu 0.01245 detik
insertion_sort membutuhkan waktu 0.00603 detik

In [ ]:
def bubble_sort_key(data, key_index=0, reverse=False):
    n = len(data)
    for i in range(n):
        for j in range(0, n - i - 1):
            if reverse:
                if data[j][key_index] < data[j + 1][key_index]:
                    data[j], data[j + 1] = data[j + 1], data[j]
            else:
                if data[j][key_index] > data[j + 1][key_index]:
                    data[j], data[j + 1] = data[j + 1], data[j]
    return data

barang = [("Buku", 15000), ("Pensil", 5000), ("Tas", 75000), ("Pulpen",
10000)]

print("Urut berdasarkan nama (asc):", bubble_sort_key(barang.copy(), 0))
print("Urut berdasarkan harga (desc):", bubble_sort_key(barang.copy(), 1, reverse=True))

Urut berdasarkan nama (asc): [('Buku', 15000), ('Pensil', 5000), ('Pulpen', 10000), ('Tas', 75000)]
Urut berdasarkan harga (desc): [('Tas', 75000), ('Buku', 15000), ('Pulpen', 10000), ('Pensil', 5000)]

# Penugasan

In [ ]:
def desc_bubble_sort(data):
    n = len(data)
    for i in range(n):
        for j in range(0, n - i - 1):
            if data[j] < data[j + 1]:
                data[j], data[j + 1] = data[j + 1], data[j]
    return data
angka = [67,34,11,12,90,22,80]
print("Data sebelum diurutkan:", angka)
print("Data setelah Bubble Sort:", desc_bubble_sort(angka))

Data sebelum diurutkan: [67, 34, 11, 12, 90, 22, 80]
Data setelah Bubble Sort: [90, 80, 67, 34, 22, 12, 11]

In [ ]:
def selection_sort(data):
    n = len(data)
    for i in range(n - 1, 0, -1):
        max_index = 0
        for j in range(1, i + 1):
            if data[j] > data[max_index]:
                max_index = j
        if max_index != i:
            data[i], data[max_index] = data[max_index], data[i]
    return data
angka = [67,34,11,12,90,22,80]
print("Data sebelum diurutkan:", angka)
print("Data setelah Selection Sort:", selection_sort(angka))

Data sebelum diurutkan: [67, 34, 11, 12, 90, 22, 80]
Data setelah Selection Sort: [11, 12, 22, 34, 67, 80, 90]

In [ ]:
def insertion_sort(data):
    n = len(data)
    for i in range(1, n):
        key = data[i]
        j = i - 1
        while j >= 0 and data[j] > key:
            data[j + 1] = data[j]
            j -= 1
        data[j + 1] = key
    return data

nama_mahasiswa = ["Riki","Ulir","Niam", "Andi", "Nadine", "Yuni"]
print("Data sebelum diurutkan:", nama_mahasiswa)
print("Data setelah Insertion Sort:", insertion_sort(nama_mahasiswa))

Data sebelum diurutkan: ['Riki', 'Ulir', 'Niam', 'Andi', 'Nadine', 'Yuni']
Data setelah Insertion Sort: ['Andi', 'Nadine', 'Niam', 'Riki', 'Ulir', 'Yuni']

In [ ]:
%%writefile nilai.py
def sort_nilai_mahasiswa(data):
    n=len(data)
    for i in range(n):
        key=data[i]
        j=i-1
        while j>=0 and data[j]>key:
            data[j+1] = data[j]
            j-=1
        data[j+1] = key
    return data

Writing nilai.py

In [ ]:
from nilai import sort_nilai_mahasiswa

nilai_mahasiswa=[80,67,87,70,57,68,47,90,90]
print("Data sebelum diurutkan:", nilai_mahasiswa)
print("Data setelah diurutkan:", sort_nilai_mahasiswa(nilai_mahasiswa))

Data sebelum diurutkan: [80, 67, 87, 70, 57, 68, 47, 90, 90]
Data setelah diurutkan: [47, 57, 67, 68, 70, 80, 87, 90, 90]

In [3]:
import random
import pandas as pd
import copy

def bubble_sort_count(arr):
    data = arr.copy()
    comparisons = 0
    n = len(data)
    for i in range(n):
        swapped = False
        for j in range(0, n - i - 1):
            comparisons += 1
            if data[j] > data[j + 1]:
                data[j], data[j + 1] = data[j + 1], data[j]
                swapped = True
        if not swapped:
            break
    return comparisons

def selection_sort_count(arr):
    data = arr.copy()
    comparisons = 0
    n = len(data)
    for i in range(n - 1, 0, -1):
        max_idx = 0
        for j in range(1, i + 1):
            comparisons += 1
            if data[j] > data[max_idx]:
                max_idx = j
        if max_idx != i:
            data[i], data[max_idx] = data[max_idx], data[i]
    return comparisons

def insertion_sort_count(arr):
    data = arr.copy()
    comparisons = 0
    n = len(data)
    for i in range(1, n):
        key = data[i]
        j = i - 1
        while j >= 0:
            comparisons += 1
            if data[j] > key:
                data[j + 1] = data[j]
                j -= 1
            else:
                break
        data[j + 1] = key
    return comparisons

input_sizes = [10, 50, 100]
results = []

random.seed(42)

for size in input_sizes:
    test_data = [random.randint(1, 1000) for _ in range(size)]

    b_count = bubble_sort_count(test_data)
    s_count = selection_sort_count(test_data)
    i_count = insertion_sort_count(test_data)

    results.append({
        "Input Size (N)": size,
        "Bubble Sort": b_count,
        "Selection Sort": s_count,
        "Insertion Sort": i_count
    })

df = pd.DataFrame(results)
print(df.to_string(index=False))

 Input Size (N)  Bubble Sort  Selection Sort  Insertion Sort
             10           45              45              33
             50         1159            1225             667
            100         4845            4950            2555

In [4]:
import os

def bersihkan_layar():
    os.system('cls' if os.name == 'nt' else 'clear')

def input_data():
    daftar_barang = []
    print("=== INPUT DATA BARANG ===")
    print("Ketik 'selesai' pada nama barang untuk berhenti input.\n")

    while True:
        nama = input("Nama Barang: ")
        if nama.lower() == 'selesai':
            break

        try:
            harga = int(input("Harga Barang: "))
            daftar_barang.append({'nama': nama, 'harga': harga})
            print(f"-> {nama} berhasil ditambahkan.\n")
        except ValueError:
            print("(!) Error: Harga harus berupa angka.\n")

    return daftar_barang

def tampilkan_tabel(data, judul="DAFTAR BARANG"):
    print(f"\n--- {judul} ---")
    if not data:
        print("Data kosong.")
        return

    print(f"{'No':<4} | {'Nama Barang':<20} | {'Harga (Rp)':>15}")
    print("-" * 45)

    for i, barang in enumerate(data, 1):
        print(f"{i:<4} | {barang['nama']:<20} | {barang['harga']:>15,}")
    print("-" * 45)

def main():
    barang = input_data()

    if not barang:
        print("Tidak ada data yang dimasukkan. Program berhenti.")
        return

    while True:
        tampilkan_tabel(barang, "POSISI DATA SAAT INI")

        print("\nPILIHAN PENGURUTAN:")
        print("1. Nama (A-Z) - Ascending")
        print("2. Nama (Z-A) - Descending")
        print("3. Harga (Termurah) - Ascending")
        print("4. Harga (Termahal) - Descending")
        print("5. Input Data Baru (Reset)")
        print("6. Keluar")

        pilihan = input("\nPilih menu (1-6): ")

        if pilihan == '1':
            barang.sort(key=lambda x: x['nama'].lower())
            print("\n>> Berhasil diurutkan berdasarkan Nama (A-Z)")

        elif pilihan == '2':
            barang.sort(key=lambda x: x['nama'].lower(), reverse=True)
            print("\n>> Berhasil diurutkan berdasarkan Nama (Z-A)")

        elif pilihan == '3':
            barang.sort(key=lambda x: x['harga'])
            print("\n>> Berhasil diurutkan berdasarkan Harga Termurah")

        elif pilihan == '4':
            barang.sort(key=lambda x: x['harga'], reverse=True)
            print("\n>> Berhasil diurutkan berdasarkan Harga Termahal")

        elif pilihan == '5':
            barang = input_data()

        elif pilihan == '6':
            print("Terima kasih!")
            break
        else:
            print("\nPilihan tidak valid, silakan coba lagi.")

if __name__ == "__main__":
    main()

=== INPUT DATA BARANG ===
Ketik 'selesai' pada nama barang untuk berhenti input.

Nama Barang: Aloalolaoalo
Harga Barang: 20000
-> Aloalolaoalo berhasil ditambahkan.

Nama Barang: Mimiwmo
Harga Barang: 300000
-> Mimiwmo berhasil ditambahkan.

Nama Barang: selesai

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Aloalolaoalo         |          20,000
2    | Mimiwmo              |         300,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 1

>> Berhasil diurutkan berdasarkan Nama (A-Z)

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Aloalolaoalo         |          20,000
2    | Mimiwmo              |         300,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 2

>> Berhasil diurutkan berdasarkan Nama (Z-A)

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Mimiwmo              |         300,000
2    | Aloalolaoalo         |          20,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 3

>> Berhasil diurutkan berdasarkan Harga Termurah

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Aloalolaoalo         |          20,000
2    | Mimiwmo              |         300,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 4

>> Berhasil diurutkan berdasarkan Harga Termahal

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Mimiwmo              |         300,000
2    | Aloalolaoalo         |          20,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 5
=== INPUT DATA BARANG ===
Ketik 'selesai' pada nama barang untuk berhenti input.

Nama Barang: Ikan
Harga Barang: 30000
-> Ikan berhasil ditambahkan.

Nama Barang: Udang
Harga Barang: 70000
-> Udang berhasil ditambahkan.

Nama Barang: Minyak
Harga Barang: 20000
-> Minyak berhasil ditambahkan.

Nama Barang: selesai

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Ikan                 |          30,000
2    | Udang                |          70,000
3    | Minyak               |          20,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 1

>> Berhasil diurutkan berdasarkan Nama (A-Z)

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Ikan                 |          30,000
2    | Minyak               |          20,000
3    | Udang                |          70,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 2

>> Berhasil diurutkan berdasarkan Nama (Z-A)

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Udang                |          70,000
2    | Minyak               |          20,000
3    | Ikan                 |          30,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 3

>> Berhasil diurutkan berdasarkan Harga Termurah

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Minyak               |          20,000
2    | Ikan                 |          30,000
3    | Udang                |          70,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 65

Pilihan tidak valid, silakan coba lagi.

--- POSISI DATA SAAT INI ---
No   | Nama Barang          |      Harga (Rp)
---------------------------------------------
1    | Minyak               |          20,000
2    | Ikan                 |          30,000
3    | Udang                |          70,000
---------------------------------------------

PILIHAN PENGURUTAN:
1. Nama (A-Z) - Ascending
2. Nama (Z-A) - Descending
3. Harga (Termurah) - Ascending
4. Harga (Termahal) - Descending
5. Input Data Baru (Reset)
6. Keluar

Pilih menu (1-6): 6
Terima kasih!